<%include ../header.ejs%>
  <section>
    <form class="" action="/cadastro" method="post">
      <input type="text" name="usuario[login]" placeholder="Informe o seu login"><br>
      <input type="password" name="usuario[senha]"><br>
      <input type="submit"value="Cadastrar">
    </form>
    <br>
  </section>
<%include ../footer.ejs%>
