<%include ../header.ejs%>
  <section>
    <form class="" action="/login" method="post">
      <input type="text" name="usuario[login]" placeholder="Informe o seu login"><br>
      <input type="password" name="usuario[senha]"><br>
      <input type="submit"value="Login">
    </form>
    <br>
    <a href="/telaCadastro">Cadastro</a>
    <br>
  </section>
<%include ../footer.ejs%>
